{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario Login</title>
    <!-- Logo -->
  	<link href="{% static 'img2/Logo175.ico' %}" rel="shortcut icon"/>
    <!-- CSS de Bootstrap y propio (mycustom) -->
    <link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css2/mycustom.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> <!--Iconos-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500" rel="stylesheet"> <!-- Google Fonts -->

  </head>

  <body>
    <div class="my-content" > <!-- "my" Pertenece a nuestro archivo personalizado de CSS -->
		<div class="container" > <!-- Clase propia de Bootstrap -->
             <!-- Logo -->
			<a class="site-logo" href="{% url 'index' %}">
				<img src="{% static 'img2/Sin título.png' %}" alt="">
			</a>
			<div class="row"> <!-- Fila 1 -->
                <div class="col-sm-12" > <!-- (regilla de Bootstrap) 12 columnas con tamaño prefijo small -->
                  <h1><strong>Dark Polifasicos /</strong> Recuperar Contraseña</h1>
                  <div class="mydescription">
                    <p>Has Login para acceder a mas contenido! </p>
                  </div>
                </div>
            </div>
            <div class="row"> <!-- Fila 2 -->
              <div class="col-sm-6 col-sm-offset-3 myform-cont" > <!-- 2.1 Cuadrado negro -->
                    <div class="myform-top"> <!-- 2.2 -->
                    	<h1>Revisa tu Correo.</h1>
  							<p>Le Hemos Enviado por Correo Electrónico Instrucciones Para Configurar su Contraseña.<br>
  							Deberías Recibir el Correo Electrónico en Breve!</p>
                        <div class="myform-top-right">
                          <i class="fa fa-sign-in"></i>
                        </div>
                    </div>
              </div>
            </div>
            <div class="row"> <!-- Fila 3 -->
                <div class="col-sm-12 mysocial-login">
                    <h3>Nuestras redes sociales:</h3>
                    <div class="mysocial-login-buttons" >
                      <a class="mybtn-social" href="#">
                      <i class="fa fa-facebook"></i> Facebook
                      </a>
                      <a class="mybtn-social" href="#">
                      <i class="fa fa-twitter"></i> Twitter
                      </a>
                      <a class="mybtn-social" href="#">
                      <i class="fa fa-google-plus"></i> Google Plus
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </div>

    <!-- Enlazamos el js de Bootstrap, y otros plugins que usemos siempre al final antes de cerrar el body -->
    <script src="{% static 'js2/bootstrap.min.js' %}"></script>
  </body>
</html>