{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario Registro</title>
 <!-- Logo -->
	<link href="{% static 'img2/Logo175.ico' %}" rel="shortcut icon"/>
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css2/mycustom.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> <!--Iconos-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500" rel="stylesheet"> <!-- Google Fonts -->

  </head>

  <body>
    <div class="mytop-content" >
        <div class="container" >
            <!-- Logo -->
			<a class="site-logo" href="{% url 'index' %}">
				<img src="{% static 'img2/Sin título.png' %}" alt="">
			</a>
			<div class="row"> <!-- Fila 1 -->
                <div class="col-sm-12" > <!-- (regilla de Bootstrap) 12 columnas con tamaño prefijo small -->
                  <h1><strong>Dark Polifasicos /</strong> Formulario Login</h1>
                  <div class="mydescription">
                    <p>Has Login para acceder a mas contenido! </p>
                  </div>
                </div>
            </div>
            <div class="row"> <!-- Fila 2 -->
              <div class="col-sm-20 col-sm-offset-0 myform-cont" > <!-- 2.1 Cuadrado negro -->
                    <div class="myform-top"> <!-- 2.2 -->
                        <div class="myform-top-left">
							<div class="container">
									<form style="color:orange;" method="POST">
										{% csrf_token %}
										{{form.as_p}}

										<button type="submit" class="mybtn">Crear Cuenta</button>
											</form>

       Ya tienes cuenta? Entra Aqui! <a href="/login" target="blank"><strong>login</strong></a>
    </div>

					
                      
					  
					  
					  
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mysocial-login">
                    <h3>Nuestras redes sociales:</h3>
                    <div class="mysocial-login-buttons" >
                      <a class="mybtn-social" href="#">
                      <i class="fa fa-facebook"></i> Facebook
                      </a>
                      <a class="mybtn-social" href="#">
                      <i class="fa fa-twitter"></i> Twitter
                      </a>
                      <a class="mybtn-social" href="#">
                      <i class="fa fa-google-plus"></i> Google Plus
                      </a>
                    </div>
                </div>
            </div>
        </div>
      </div>

    <!-- Enlazamos el js de Bootstrap, y otros plugins que usemos siempre al final antes de cerrar el body -->
    <script src="{% static 'js2/bootstrap.min.js' %}"></script>
  </body>
</html>
